<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th *ngFor="let title of titles">
          {{title}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fxrate of fxrates; let i = index">
        <td class="text-muted">
          {{i+1}}
        </td>
        <td class="text-success">
          ${{fxrate.fxRateValue}} COP
        </td>
        <td class="text-muted text-uppercase ">
          {{fxrate.fxRateDate}}
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="update()" class=" btn btn-primary margin-bottom:20">Actualizar</button>
</div>
